.custom-card-style {background-color: #CAEEC2 !important;}
.form-btn-custom {width: auto;}
.form-custom {background-color: #CAEEC2 !important;}
.custom-style-dropdown { color: $secondary-color !important;}
.span { color: red !important;}