* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {font-size: 62.5%;}
.page-container {max-width: $container; margin: 16rem auto 0 auto;}
body {font-size: 1.6rem;}

// sitcky footer styling
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eee;

}

.Site-content {
  flex: 1;
}
