.custom-nav-style {
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: $white;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem  5%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}
.logo {
  text-decoration: none;
  font-size: 3rem;
  color: $secondary-color;
  font-weight: 900;
  font-family: $font-family;
  margin-right: 3rem;

  &:hover {
    color:#666;
  }
}
