@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&display=swap');


$container: 140rem;
$white: #fff;
$primary-color: #00A300;
$secondary-color: #477547;
$font-family: 'nunito', sans-serif, Arial, Helvetica;