<h1 class="text-center mb-4">Listing all articles</h1>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'article' %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>



<div class="text-center">
  <%= link_to 'Create new article', new_article_path, class: "btn btn-outline-info fs-3 mt-4 mb-4" %>
</div>

