<section class="wrapper">
  <div class="wrapper_content">
    <h1 class="wrapper_title">Welcome to <span>Green</span> Blog</h1>
    <p class="wrapper_msg">Sign up for free and contribute to our educative blog</p>
    <%= link_to 'Signup', articles_path, class:"wrapper_signup" %>
  </div>
  <div class="wrapper_image"><%= image_tag "blog_post.jpeg", class: "wrapper_image"%></div>
</section>


