<section class="wrapper">
  <div class="wrapper_content">
    <h1 class="wrapper_title">Welcome to <span>Green Blog</span></h1>
    <p class="wrapper_msg">Sign up for free and contribute to our educative blog</p>
    <%= link_to 'Signup', signup_path, class:"wrapper_signup" %>
  </div>
 
  <div><%= image_tag("blog_post.jpg", :alt => "homepage image", class: "wrapper_image") %></div>
</section>


