<header class="header">
    <div><%= link_to 'Green Blog', root_path, class:"header_logo" %></div>
    <ul class="header_ul">
      <li class="link"><%= link_to 'Article listing', articles_path, class: "nav-a" %></li>
      <li class="link"><%= link_to 'Create article', new_article_path, class: "nav-a" %></li>
    </ul>   
</header>